body {
    background-color: #2d3436;
}

.div-jumbotron {
    background-image: url(/images/slider-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 0;
}

.banner-menu, .banner-gallery, .banner-restaurant {    
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0;
}

.banner-menu {
    background-image: url(/images/banner.png);
}

.banner-gallery {
    background-image: url(/images/banner-gallery.png);
}

.banner-restaurant {
    background-image: url(/images/banner-restaurant.png);
}

.card-home-page {
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 
                    25px 0 20px -20px rgba(0, 0, 0, 0.45), 
                    0px 25px 20px -20px rgba(0, 0, 0, 0.45), 
                    -25px 0 20px -20px rgba(0, 0, 0, 0.45);
    transition: 1s;
}

.img-gallery, .list-menu {
    transition: 1s;
}

.card-home-page:hover, .img-gallery:hover {
    transform: scale(1.2);
    z-index: 2;
}

.container > h2, .container > h1 {
    animation: Slide_up 1.4s ease;
}

.container > p {
    animation: Slide_up 2.1s ease;
}

.container > div {
    animation: Slide_up 2.45s ease;
}

@keyframes Slide_up {
    0% {
        transform: translateY(250px);
    }
    100% {
        transform: translateY(0);
    }
}