body {
    background-color: #2d3436; 
}

.div-jumbotron {
    background-image: url(/images/slider-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 0;
}

.banner-menu, .banner-gallery, .banner-restaurant {    
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0;
}

.banner-menu {
    background-image: url(/images/banner.png);
}

.banner-gallery {
    background-image: url(/images/banner-gallery.png);
}

.banner-restaurant {
    background-image: url(/images/banner-restaurant.png);
}
